.content {
  width: 70%;
  margin-top: 80px;
  margin-left: 28%;
  height: 100%;
}
.content h1 {
  text-align: center;
}

.content .couverture {
  width: 126.6%;
  height: 400px;
  /* border: 1px solid; */
  margin-top: 80px;
  position: relative;
}
.couverture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 70px;
}
.couverture label {
  position: absolute;
  left: 10px;
  top: 80px;
  border-radius: 20px;
  color: aliceblue;
}
.couverture label span {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--main-color);
}
.couverture label span:hover {
  background-color: var(--button-color);
  cursor: pointer;
  transition-duration: 0.5s;
}

